html,body{
	overflow:hidden;
	background: floralwhite;
}

::-webkit-scrollbar{
	width:0;
}

h3{
	margin:0;
	
}

p{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -140%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item{
	cursor:pointer;
}

#personal{
	height:42px;
}

article{
	height: calc(100vh - 58px);
	width:100vw;
}

#navbarDropdown{
	float:left;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -60%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.inline{
	display:inline-block;
}

.whole-profile{
    padding-top: 25px;
}

.whole-profile .w-100{
    height: 180px;
}

.profile_nav{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.profile_container{
    height: 100%;
}

.profile_image{
    height: 100%;
    width: 21.9%;
    float: left;
    
    filter:brightness(50%);
    transition:.5s;
    
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.profile_image:hover{
	filter:none;
}

.profile_content{
	background:#fff;
	
    height: 100%;
    width: 77%;
    
    float: right;
    padding: 5px 0;
}

.border{
	border:1px solid #eee;
	border-radius:5px;
}

.dish{
	padding: 25px 0;
    height: calc(100vh - 263px) !important;
}

.main_dish{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.tabs{
    width: 100%;
    height: 50px;
    
    background:#f8f9fa;
}

.tab_view{
    width: 100%;	
    height: calc(100% - 55px);
    
    margin-top: 5px;
    
    background:#fff;
}

.profile_content_container{
    height: 100%;
    width: 96%;
    margin: 0 auto;
}

.simple_info{
    width: 100%;
    height: 30px;
}

.names{
    display: inline-block;
    font-weight: 300;
    font-size: 25px;
    margin-right: 15px;
}

.names span{
	font-size:12px;
}

.names i{
    font-size: 22px;
    margin-right: 15px;
}

.e-mail{
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
}

.content_info{
    padding-top: 5px;
    height: calc(100% - 45px);
}

.content_info p{
    height: 100%;
    font-size: 15px;
    font-weight: 300;
}

.income_info{
	height: 15px;
}

.income_info h3{
    font-size: 12px;
    font-weight: 300;
    float: right;
}

.tabs_lists{
	height:100%;
}

.tab{
	display:inline-block;
	
	border-radius:5px;
	
    height: 100%;
    width: calc(100%/3);
    
    line-height: 48px;
    float:left;
    text-align:center;
    
    font-weight:300;
    font-size:17px;
    
    cursor:pointer;
    
    transition:.3s;
}

.tab:hover{
	background:#686869;
	
	color:#eee;
}

.tab:nth-of-type(1){
	border-right:1px solid #e9ecef;
}

.tab:nth-of-type(2){
	border-right:1px solid #e9ecef;
	border-left:1px solid #e9ecef;
}

.tab:nth-of-type(3){
	border-left:1px solid #e9ecef;
}

.tab_active{
	background:#686869;
	
	color:#eee;
}

.tab_view{
	overflow-y:scroll;
}

.view{
	display:none;
}

.view_container{
	height:100%;
	width:96%;
	
	padding:0 25px;
	margin:0 auto;
	
	overflow-y:scroll;
}

.dashboard_storage{
	position:relative;
	
	background:#fcfdfd;
	border:1px solid #eee;
	
	display:inline-block;
	float:left;
	
	box-shadow: 3px 3px 8px #606060;	
	
	
	width:calc(100%/3 - 18px);
	
	transition:.1s;
}

.dashboard_storage:nth-of-type(3n-2){
	margin-right:9px;
	margin-left:18px;
}

.dashboard_storage:nth-of-type(3n){
	margin-left:9px;
	margin-right:18px;
}

.dashboard_storage:hover{
	z-index:999;
}

.storages:nth-of-type(1){
	margin-top:30px;
}

.storages{
	margin-bottom:9px;
}

.storages:nth-last-of-type(1){
	margin-bottom:30px;
}